{{ define "main" }}
{{ .Content }}
<div class='links'>
    <a href='https://www.linkedin.com/in/marcusrchiu/' target='_blank'><img src="assets/linkedin.svg" /></a>
    <a href='https://github.com/TheRealMarcusChiu' target='_blank'><img src="assets/github-light.svg" /></a>
    <a href='https://hub.docker.com/u/marcuschiu/' target='_blank'><img src="assets/docker.svg" /></a>
    <a href='https://stackoverflow.com/users/9647940/marcus-chiu' target='_blank'><img src="assets/stackoverflow.svg" /></a>
    <a href='https://www.youtube.com/channel/UCz0iSKTc1MW9MLVuY-GfoeQ' target='_blank'><img src="assets/youtube.svg" /></a>
    <a href='https://twitter.com/TheMarcusChiu' target='_blank'><img src="assets/twitter.svg" /></a>
    <a href='https://marcuschiu.yelp.com' target='_blank'><img src="assets/yelp.svg" /></a>
    <a href='https://wwoofusa.org/wwoofer/marcuschiu' target='_blank'><img src="assets/wwoof.png" /></a>
    <a href='https://www.instagram.com/marcuschiu9/' target='_blank'><img src="assets/instagram.svg" /></a>
    <a href='https://mastodon.social/@marcuschiu' target='_blank'><img src="assets/mastodon.svg" /></a>
</div>
{{ end }}