{{ define "main" }}
  {{ .Content }}

<!--  <div class="pt-5">-->
<!--    {{ range site.RegularPages }}-->
<!--      <div class="mb-4">-->
<!--        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}-->
<!--        {{ $dateHuman := .Date | time.Format ":date_long" }}-->
<!--        <time class="small" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>-->
<!--        <h2 class="h5"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>-->
<!--&lt;!&ndash;         <p class="small opacity-75 post-summary">{{ .Summary }}</p>&ndash;&gt;-->
<!--      </div>-->
<!--    {{ end }}-->
<!--  </div>-->

{{ end }}
